.down {
    color: rgb(211, 148, 22);
    text-align: center
}

#clock{
    
    background-color:hsl(148, 25%, 19%);
    align-content: center
}

nav {
    text-align: center
}

h1{
    background: 
    -webkit-linear-gradient(#a1d3ec, #3c6075);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  
    margin: 0 0 2px 0;
    font-weight: 900;
    font-size: 3rem;
   
}

